<%= form_for @new_user, :url => { :action => "create" } do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :email %>
  <%= f.submit "Create New Account", class: "btn btn-primary" %>
<% end %>

<% @user.each do |u| %>
	<p><%= u.name %> eats boogers.</p>
<% end %>